img {
    width: 30%;
    height: 50vh;
}
.head{
    position: relative;
    top: -50vh;
    left: 11vw;
}
.middle{
    position: relative;
    top: -35vh;
    left: 11vw;
}
.footer{
    position: relative;
    top: -16vh;
    left:11vw;
}